/*remove extra space before title*/
.block-container {
            padding-top: 0.5rem;
        }


/*Styling for scrollbar*/
::-webkit-scrollbar {
                      width: 20px;
                      }

                        /* Track */
                        ::-webkit-scrollbar-track {
                        background: transparent;
                        }

                        /* Handle */
                        ::-webkit-scrollbar-thumb {
                        background: #888;
                        }

                        /* Handle on hover */
                        ::-webkit-scrollbar-thumb:hover {
                        background: #555;
                        }
          
